$active: #144677;

.tabs-wrap {
  display: flex;
  margin: 0 15px;
  gap: 20px;
  overflow: auto;
  button {
    padding: 5px 15px;
    font-size: 18px;
    border: 1px solid grey;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      background-color: lighten($color: $active, $amount: 70);
    }
    &.active {
      background-color: $active;
      border-color: $active;
      color: #fff;
    }
  }
}

.table-wrap {
  border: 1px solid grey;
  margin: 1rem;
  margin-top: 0;
  height: calc(100vh - 100px);
}
